body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.page {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar button {
    background-color: #333;
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    width: 33%;
    font-size: 16px;
}

.navbar button:hover {
    background-color: #ddd;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #45a049;
}

.error {
    color: red;
}

img {
    cursor: pointer;
}

.section {
    display: none;
}
