body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f9;
}

#loading-screen {
  margin-top: 50px;
}

#main-content {
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#user-photo {
  border-radius: 50%;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}
